<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pomodoro Timer</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🍅</text></svg>">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=restart_alt" />



</head>
<body>

    <div class="pomodoro">
        <div class="timer-type">
            <button id="pomodoro-timer" onclick="setActive(this)">Pomodoro</button>
            <button id="short-break" onclick="setActive(this)">Short Break</button>
            <button id="long-break" onclick="setActive(this)">Long Break</button>
        </div>
        <div class="timer" id="timer">25:00</div>
        <div class="timer-buttons">
            <div class="start-container">
                <button onclick="startTimer()" id="start" class="start">START</button>
            </div>
            <span class="material-symbols-outlined reset-button" id="reset" onclick="resetTimer()">
            restart_alt
            </span>
        </div>

        
    </div>
        <footer class="copyright">
            <span id="year"></span> 
            <a href="https://github.com/eonnui"> @eonnui </a>. All Rights Reserved. &copy; 
        </footer>
    <script>
        const zenSound = new Audio('../audio/wind_chimes_1_16.wav');
        const zenPing = new Audio('../audio/click.wav');

        document.getElementById('pomodoro-timer').classList.add('active');
        const startButton = document.getElementById('start');
        const countdown = document.getElementById('timer');
        const resetButton = document.getElementById('reset');

        let selectedTime = "pomodoro-timer"
        let pomodoroCount = 0;
        let isRunning = false;
        let timeLeft;
        let interval;
        
        const timeMapping = {
                "short-break": 5 * 60,
                "long-break": 15 * 60,
                "pomodoro-timer": 25 * 60,
        };

        function playTrimmedSound(audio, startTime = 0, duration = 2){
            audio.currentTime = startTime;
            audio.play();

            setTimeout(() => {
                audio.pause();
                audio.currentTime = 0;
            }, duration * 1000)
        }

        function updateTimerDisplay(seconds) {
            const minutes = Math.floor(seconds / 60);
            const secs = seconds % 60;
            countdown.textContent = `${minutes}:${secs.toString().padStart(2, '0')}`
        };

        function toggleResetButton(show){
            resetButton.style.opacity = show ? 1 : 0;
        };

        function setActive(clickedButton){
            clearInterval(interval);
            startButton.textContent = "START";
            isRunning = false;
            playTrimmedSound(zenPing, 0, 2);

            document.querySelectorAll('button').forEach(button => {
                button.classList.remove('active');
            });
            clickedButton.classList.add('active');

            selectedTime = clickedButton.id;
            updateTimerDisplay(timeMapping[selectedTime]);
            timeLeft = timeMapping[selectedTime];
            toggleResetButton(false);
        };

        function startTimer(){
            if (isRunning) {
                clearInterval(interval);
                startButton.textContent = "START";
                playTrimmedSound(zenPing, 0, 2);
            } else {
                if (!timeLeft) timeLeft = timeMapping[selectedTime];
                interval = setInterval(() => {
                    timeLeft --;

                    updateTimerDisplay(timeLeft);

                    if (timeLeft <= 0) {
                        clearInterval(interval);
                        playTrimmedSound(zenSound, 76, 3);
                        isRunning = false;
                        handleCycle();
                    }

                }, 1000);
                startButton.textContent = "PAUSE";
                playTrimmedSound(zenPing, 0, 2);
            };

            isRunning = !isRunning;
            toggleResetButton(isRunning);
        };

        function resetTimer(){
            clearInterval(interval);
            isRunning = false;
            timeLeft = timeMapping[selectedTime];
            updateTimerDisplay(timeMapping[selectedTime]);
            updateTimerDisplay(timeLeft);
            startButton.textContent = "START";
            toggleResetButton(false);

            playTrimmedSound(zenPing, 0, 2);
        };

        function handleCycle() {
            if (selectedTime === "pomodoro-timer"){
                pomodoroCount++;
                console.log(`Pomodoros completed: ${pomodoroCount}`);

                if (pomodoroCount % 4 === 0) {
                    setActive(document.getElementById('long-break'));
                } else {
                    setActive(document.getElementById('short-break'));
                };
            } else {
                setActive(document.getElementById('pomodoro-timer'));
            }

            document.getElementById('year').textContent = new Date().getFullYear();
        };

    </script>
</body>
</html>