* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}


body{
    text-align: center;
    background-color: #FAFAF5;
    color: #232323;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.timer{
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: 400;
}

.pomodoro {
    padding: 40px;
    border-radius: 16px;
    background: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.pomodoro .timer-type button{
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px 12px;
    font-size: 16px;
    color: #6A8F6B;
    position: relative;
    transition: color 0.3s ease;
}

.timer-type button.active{
    text-shadow: 0 0 0.8px currentColor;
    color: #E6D8CF;
}

.timer-type button::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background-color: #6A8F6B;
    opacity: 0;
    transition: width 0.3 ease;
}

.timer-type button:hover{
    color: #3B403f;
}
.timer-type button.active{
    color: #E6D8CF;
}

.timer-type button.active::after{
    opacity: 1;
}

.start{
    border: none;
    border-radius: 3px;
    background-color: #A8B5A2;
    padding: 5px 10px;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

